:root {
    --standard-background: #2c2e31;
    --green-accent: rgb(43, 179, 130);
    --dark-green: rgb(6, 108, 71); 
    --darkened-text: rgb(214, 220, 237);
    --scroll-color: rgb(252, 210, 157);
    --standard-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@font-face {
    font-family: celticGaramond;
    src: url("fonts/celticGaramond.TTF");
}

.app {
    height: 100vh;
    text-align: left;
    font-size: 16px;
    color: white;
    background-color: var(--standard-background);
    overflow: auto;
}

.app-header {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--standard-background);
}

.navbar {
    padding: 5px 148px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(9, 11, 28, 0.75);
    box-shadow: var(--standard-shadow);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 10;
}

.nav-text-button {
    padding: 6px;
    margin: 0;
    position: relative;
    color: white;
    background-color: transparent;
    height: 56px;
    width: fit-content;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    align-content: center;
    justify-content: center;
    width: 128px;
    overflow: hidden;
}

.nav-text-button:hover {
    color: var(--green-accent);
}

.nav-logo-button {
    position: relative;
    background-color: transparent;
    padding: 6px;
    margin: 0;
    border: none;
    cursor: pointer;
    align-content: center;
    justify-content: center;
}

.logo {
    height: 54px;
    width: fit-content;
    object-fit: contain;
}

.game-title-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    pointer-events: none;
}

.game-title {
    height: 55%;
    z-index: 2;
    width: fit-content;
    object-fit: contain;
}

.welcome-page-img-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.welcome-page-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.purchase-row {
    padding: 5px 148px;
    width: 100%;
    height: fit-content;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 9;
}

.hidden-purchase-row {
    opacity: 0;
}

.fixed-purchase-row {
    pointer-events: none;
    position: fixed;
    top: 0;
    background-color: rgba(9, 11, 28, 0.75);
}

.purchase-button {
    pointer-events: all;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 220px;
    position: relative;
    padding: 12px 20px;
    margin: 18px 0;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    align-content: center;
    justify-content: space-between;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 700;
    box-shadow: var(--standard-shadow);
}

.standard-purchase-row .purchase-button {
    color: white;
    background-color: rgba(9, 11, 28, 0.75);
}

.standard-purchase-row .purchase-button:hover {
    color: var(--green-accent);
    background-color: rgb(9, 11, 28);
    outline: solid 2px rgba(55, 236, 146, 0.2);
    box-shadow: 0 0 4px 4px rgba(55, 236, 146, 0.2);
}

.fixed-purchase-row .purchase-button {
    color: white;
    background-color: var(--green-accent);
}

.fixed-purchase-row .purchase-button:hover {
    color: white;
    background-color: rgb(11, 207, 148);
    outline: solid 2px rgba(55, 236, 146, 0.2);
    box-shadow: 0 0 4px 4px rgba(55, 236, 146, 0.2);
}

.purchase-button-icon {
    width: 40px;
    height: 40px;
}

.purchase-button-text {
    width: fit-content;
}

.back-to-top-button-container {
    position: fixed;
    bottom: 24px;
    right: 24px;
}

.back-to-top-button {
    width: 48px;
    height: 48px;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 10;
    background-color: rgba(9, 11, 28, 0.75);
    cursor: pointer;
    color: white;
    font-size: 24px;
}

.decorative-divider {
    background-image: url("images/decorative-divider.png");
    background-size: contain;
    background-repeat: repeat;
    background-position: center top;
    width: 100vw;
    height: 48px;
}

.main-content {
    width: 100%;
    height: fit-content;
    background-image: url("images/scroll-texture.png");
    background-repeat: repeat;
}

.game-trailer-section {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 0 54px 0;
}

.game-trailer-header {
    font-family: celticGaramond;
    font-size: 48px;
    font-weight: 700;
    color: rgb(148, 75, 19);
    margin-bottom: 64px;
    width: 70%;
    text-align: center;
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.8);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.game-trailer-mockup {
    aspect-ratio: 16 / 9;
    width: 50%;
    object-fit: contain;
    box-shadow: var(--standard-shadow);
    cursor: pointer;
}

.features-section {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0 96px 0;
}

.features-header {
    font-family: celticGaramond;
    font-size: 40px;
    font-weight: 700;
    color: rgb(148, 75, 19);
    margin-bottom: 32px;
    width: 50%;
    text-align: center;
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.8);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.feature-arc {
    position: relative;
    border-left: solid 16px rgb(148, 75, 19);
    border-right: solid 16px rgb(148, 75, 19);
    border-top: dotted 2px brown;
    border-radius: 300px 300px 0 0;
    width: calc(650px + 16px);
    height: calc(325px + 1px);
    margin: 50px 0 0 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.feature-icon-container {
    position: absolute;
    left: calc(50% - 50px);
    bottom: -50px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: var(--dark-green);
    display: flex;
    align-content: center;
    justify-content: center;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear; /** Chrome; Safari **/
    -ms-transition: all 0.3s linear; /** Opera **/
    box-shadow: var(--standard-shadow);
    border: solid 4px rgb(148, 75, 19);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.selected-feature {
    background-color: var(--green-accent);
    border-color: rgb(170, 98, 43)
}

.feature-icon {
    height: 100%;
    font-size: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.feature-icon-container:nth-child(1) {
    transform: rotate(180deg) translateX(325px);
}

.feature-icon-container:nth-child(1) .feature-icon {
    transform: rotate(180deg);
}

.feature-icon-container:nth-child(2) {
    transform: rotate(225deg) translateX(325px);
}

.feature-icon-container:nth-child(2) .feature-icon {
    transform: rotate(135deg);
}

.feature-icon-container:nth-child(3) {
    transform: rotate(270deg) translateX(325px);
}

.feature-icon-container:nth-child(3) .feature-icon {
    transform: rotate(90deg);
}

.feature-icon-container:nth-child(4) {
    transform: rotate(315deg) translateX(325px);
}

.feature-icon-container:nth-child(4) .feature-icon {
    transform: rotate(45deg);
}

.feature-icon-container:nth-child(5) {
    transform: translateX(325px);
}

.feature-info {
    position: absolute;
    left: calc(50% - 175px);
    bottom: -50px;
    width: 350px;
    height: 265px;
    padding: 16px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: var(--standard-background);
    border: solid 4px rgb(148, 75, 19);
    border-radius: 24px;
}

.feature-hover-text {
    font-size: 18px;
    font-weight: 700;
    color: var(--green-accent);
    width: 100%;
    height: 100%;
    text-align: center;
    align-content: center;
    justify-content: center;
}

.feature-lead-text {
    font-weight: 700;
    color: var(--green-accent);
}

.feature-description {
    font-size: 16px;
    color: white;
    width: 100%;
    height: 90%;
    text-align: left;
}

.feature-arc-buffer {
    width: 100%;
    height: 50px;
}

.newsletter-section {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0 120px 0;
}

.newsletter-header {
    font-family: celticGaramond;
    font-size: 40px;
    font-weight: 700;
    color: rgb(148, 75, 19);
    margin-bottom: 24px;
    width: 50%;
    text-align: center;
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.8);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.newsletter-description {
    font-size: 20px;
    font-weight: 700;
    color: rgb(148, 75, 19);
    margin-bottom: 48px;
    width: 50%;
    text-align: center;
}

.ost-section {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0 120px 0;
}

.ost-header {
    font-family: celticGaramond;
    font-size: 40px;
    font-weight: 700;
    color: rgb(148, 75, 19);
    margin-bottom: 48px;
    width: 50%;
    text-align: center;
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.8);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.ost-mockup {
    height: 136px;
    object-fit: contain;
    box-shadow: var(--standard-shadow);
}

.newsletter-button,
.ost-button,
.shop-button {
    padding: 12px 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 700;
    box-shadow: var(--standard-shadow);
    color: white;
    background-color: var(--green-accent);
}

.newsletter-button {
    width: 50%;
}

.ost-button,
.shop-button {
    width: 256px;
}

.ost-button {
    margin: 48px 0 0 0;
}

.shop-button {
    z-index: 2;
}

.newsletter-button:hover,
.ost-button:hover,
.shop-button:hover {
    color: white;
    background-color: rgb(11, 207, 148);
    outline: solid 2px rgba(55, 236, 146, 0.2);
    box-shadow: 0 0 4px 4px rgba(55, 236, 146, 0.2);
}

.shop-section {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0 128px 0;
}

.shop-header {
    font-family: celticGaramond;
    font-size: 40px;
    font-weight: 700;
    color: rgb(148, 75, 19);
    margin-bottom: 24px;
    width: 50%;
    text-align: center;
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.8);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.shop-row {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.shop-row::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 60%;
    background-color: rgb(148, 75, 19);
}

.shop-img {
    height: 240px;
    object-fit: contain;
    z-index: 2;
}

.shop-button {

}

.app-footer {
    width: 100%;
    padding: 84px 10% 96px 10%;
    display: flex;
    flex-direction: column;
    align-items: start;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.app-footer-body {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 32px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.app-footer-left-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.app-footer-game-title-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.app-footer-game-title {
    width: calc(100% * 2 / 3);
    object-fit: contain;
}

.app-footer-social-media-link-row {
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
}

.app-footer-social-media-link-container {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: solid 2px white;
    display: flex;
    align-content: center;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
}

.app-footer-social-media-link-container:hover {
    background-color: var(--green-accent);
}

.app-footer-social-media-link {
    height: 100%;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.app-footer-right-column {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.app-footer-subscribe-text {
    font-size: 20px;
    margin-top: 32px;
}

.app-footer-subscribe-button {
    width: 80%;
    padding: 12px 20px;
    margin: 0;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 700;
    box-shadow: var(--standard-shadow);
    color: white;
    background-color: var(--green-accent);
}

.app-footer-subscribe-button:hover {
    color: white;
    background-color: rgb(11, 207, 148);
    outline: solid 2px rgba(55, 236, 146, 0.2);
    box-shadow: 0 0 4px 4px rgba(55, 236, 146, 0.2);
}

.app-footer-language-container {
    width: min-content;
    margin: 2px;
    padding: 12px 18px;
    border: solid 2px var(--darkened-text);
    border-radius: 5px;
}

.app-footer-language-container:hover {
    margin: 0;
    padding: 14px 20px;
}

.app-footer-language-select {
    margin: 8px 0 0 0;
    padding: 0;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 500;
}

.app-footer-language-select option {
    color: black;
}

.app-footer-underlined-text-button-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin: 48px 0 20px 0;
}

.app-footer-underlined-text-button {
    color: white;
    text-align: center;
    text-decoration: underline !important;
    font-size: 16px;
    font-weight: 700;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.app-footer-legal-disclaimer {
    width: 100%;
    margin-top: 12px;
    text-align: center;
    font-size: 16px;
}

.app-footer-copyright {
    width: 100%;
    margin-top: 12px;
    text-align: center;
    font-size: 16px;
}



/*
Caret Button
*/

.caret-button {
    color: var(--green-accent);
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    border: none;
    margin: 2px 0 0 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.caret-button-caret {
    font-size: 20px;
    margin: 0.5px 0 -0.5px 0;
    transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out; /** Chrome; Safari **/
    -ms-transition: all 0.15s ease-in-out; /** Opera **/
}

.caret-button:hover .caret-button-caret {
    -ms-transform: translate(4px, 0px); /* IE 9 */
    -webkit-transform: translate(4px, 0px); /* Safari */
    transform: translate(4px, 0px);
}